@model sama.Models.LoginViewModel

@{
    ViewData["Title"] = "Log In";
}

<h2>@ViewData["Title"]</h2>
<hr />
<div class="row">
    <div class="col-xs-12">
        <section>
            <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                @if (ViewBag.LdapEnabled)
                {
                    <div class="form-group">
                        <label asp-for="IsLocal" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <div>
                                <label class="radio-inline"><input asp-for="IsLocal" value="false" type="radio" checked="checked" /> LDAP</label>
                                <label class="radio-inline"><input asp-for="IsLocal" value="true" type="radio" /> Local</label>
                            </div>
                            <span asp-validation-for="IsLocal" class="text-danger"></span>
                        </div>
                    </div>
                }
                else
                {
                    <input asp-for="IsLocal" type="hidden" value="true" />
                }
                <div class="form-group">
                    <label asp-for="Username" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Username" class="form-control" />
                        <span asp-validation-for="Username" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="submit" class="btn btn-primary">Log in</button>
                    </div>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
