@model IEnumerable<sama.Models.EndpointViewModel>

@{ 
    ViewData["Title"] = "Overview";
}

<section id="main-endpoints-section">
    @Html.Partial("_IndexEndpointsPartial")
</section>

@section Scripts {
<script type="text/javascript">
    var updateUrl = '@Url.Action("IndexPartial")';

    function updatePage() {
        jQuery
            .ajax({
                url: updateUrl,
                dataType: 'html'
            })
            .done(function (data) {
                $('#main-endpoints-section').html(data);
            })
            .fail(function () {
                $('#main-endpoints-section').html('<h3>SAMA is unable to refresh status information. There may be an outage or scheduled maintenance.</h3><p>Last refresh attempt on ' + (new Date().toLocaleString()) + '</p>');
            });
    }

    $(function () {
        setInterval('updatePage();', 30000);
    });
</script>
}
