@model IEnumerable<sama.Models.Endpoint>

@{
    ViewData["Title"] = "Overview";
    var states = (IReadOnlyDictionary<sama.Models.Endpoint, sama.Services.StateService.EndpointState>)ViewData["CurrentStates"];
    var upEndpoints = Model.Where(e => states.FirstOrDefault(kvp => kvp.Key.Id == e.Id).Value?.IsUp == true).OrderBy(e => e.Name.ToLowerInvariant());
    var downEndpoints = Model.Where(e => states.FirstOrDefault(kvp => kvp.Key.Id == e.Id).Value?.IsUp == false).OrderBy(e => e.Name.ToLowerInvariant());
    var indeterminateEndpoints = Model.Where(e => states.FirstOrDefault(kvp => kvp.Key.Id == e.Id).Value?.IsUp == null).OrderBy(e => e.Name.ToLowerInvariant());
}

<style type="text/css">
    .overview-blocks .endpoint-state .endpoint-child {
        color: #fff;
        font-weight: bold;
        min-height: 4em;
        text-align: center;

        display: flex;
        justify-content: center;
        align-items: center;

        border-radius: 8px;

        margin-bottom: 2em;
    }

    .endpoint-child span {
        padding: 6px;
    }

    .endpoint-down .endpoint-child {
        background-color: #d9534f;
    }

    .endpoint-up .endpoint-child {
        background-color: #5cb85c;
    }

    .endpoint-indeterminate .endpoint-child {
        background-color: #777;
    }
</style>

<h2>Overview (@downEndpoints.Count() down)</h2>

<div class="row overview-blocks">
    @foreach(var item in downEndpoints)
    {
        <div class="col-sm-4 endpoint-state endpoint-down">
            <div class="endpoint-child"><span>@item.Name</span></div>
        </div>
    }
    @foreach (var item in upEndpoints)
    {
        <div class="col-sm-4 endpoint-state endpoint-up">
            <div class="endpoint-child"><span>@item.Name</span></div>
        </div>
    }
    @foreach (var item in indeterminateEndpoints)
    {
        <div class="col-sm-4 endpoint-state endpoint-indeterminate">
            <div class="endpoint-child"><span>@item.Name</span></div>
        </div>
    }
</div>
